<style>
.term-btn {background-color:white; color:rgb(40, 170, 220); border-radius:6px; padding-left:5px; padding-right:5px;
}
.term-btn:hover {
background-color:#cacaca; 
color:white;
}

</style>

<section>
<!--
  #################################
    - THEMEPUNCH BANNER -
  #################################
  -->
  <div class="tp-banner-container clearfix">
    <div class="tp-banner" >
      <ul>
        <!-- SLIDE 1 -->

        <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-delay="500">
          <!-- MAIN IMAGE -->
          <img src="/upload/girl-with-mobile2.jpg"

                  alt="slidebg1" 
                  data-kenburns="on"
                  data-bgposition="left center"
                  data-duration="36000"
                  data-ease="Linear.easeNone"
                  data-bgfit="100"
                  data-bgfitend="150"
                  data-bgpositionend="right center"

            >
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div style="display:none;" class="tp-caption customin customout huge_white rs-parallaxlevel-3"
            data-x="center"
            data-y="center"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.50;scaleY:0.50;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="100"
            data-start="0"
            data-easing="Power4.easeOut"
            data-endeasing="Power4.easeIn"
            data-splitout="none"
            data-elementdelay="0.05"
            data-endelementdelay="0.05">첫번째 공지사항
          </div>

          <!-- LAYER NR. 2 -->
          <div style="display:none" class="tp-caption customin medium_text fadeout rs-parallaxlevel-3"
            data-x="center"
            data-y="center"
            data-voffset="80"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="100"
            data-start="100"
            data-easing="Power4.easeOut">
            18초 짜리 동영상을 만들어서 <a href="#">#18seconds</a> 해쉬태그 달고 SNS에 공유!
          </div>
    
        </li> <!-- end slide 1 -->


        <li data-transition="fade" data-slotamount="1" data-masterspeed="1200" data-delay="7000">
          <!-- MAIN IMAGE -->
          <img src="/upload/girl-with-mobile2.jpg"
            alt="slidebg1"
            data-kenburns="on"
            data-duration="36000"
            data-ease="Linear.easeNone"
            data-bgfit="100"
            data-bgfitend="150"
            >
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption customin customout huge_white rs-parallaxlevel-3"
            data-x="center"
            data-y="center"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.50;scaleY:0.50;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="700"
            data-start="1600"
            data-easing="Power4.easeOut"
            data-endeasing="Power4.easeIn"
            data-splitout="none"
            data-elementdelay="0.05"
            data-endelementdelay="0.05">
            공지사항
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption customin medium_text fadeout rs-parallaxlevel-3"
            data-x="center"
            data-y="center"
            data-voffset="80"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="500"
            data-start="2600"
            data-easing="Power4.easeOut">
            18초 짜리 동영상을 만들어서 #18s 해쉬태그 달고 SNS에 공유!
          </div>
    



        <!-- SLIDE 2 -->
        <li data-transition="fade" data-slotamount="1" data-masterspeed="1200" data-delay="7000">
          <!-- MAIN IMAGE -->
          <img src="/upload/sns_back2.jpg"
            alt="slidebg1"
            data-kenburns="on"
            data-duration="36000"
            data-ease="Linear.easeNone"
            data-bgfit="100"
            data-bgfitend="150"
            >
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption customin customout huge_white rs-parallaxlevel-3"
            data-x="center"
            data-y="center"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.50;scaleY:0.50;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="700"
            data-start="1600"
            data-easing="Power4.easeOut"
            data-endeasing="Power4.easeIn"
            data-splitout="none"
            data-elementdelay="0.05"
            data-endelementdelay="0.05">
            공지사항
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption customin medium_text fadeout rs-parallaxlevel-3"
            data-x="center"
            data-y="center"
            data-voffset="80"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="500"
            data-start="2600"
            data-easing="Power4.easeOut">7월 24일(금) 녹화 당일 SNS로 실시간 방송 참여!
          </div>
    
        </li> <!-- end slide 2 -->

      </ul>


    </div>
  </div>
</section>

<section class="section-wrap" id="realtime">
  <div class="container">
    <h2 class="text-center">#18s on SNS</h2>
    <p class="subheading text-center">실시간 참여중인 영상들을 참고하세요!</p>
    <!-- filter -->
    <div class="row mt-50">
      <div class="col-md-12">
        <div class="portfolio-filter">
          <a href="#" class="filter active transition" data-filter="*">Hot</a>
          <a href="#" class="filter transition" data-filter=".branding">New</a>
          <a href="#" class="filter transition" data-filter=".illustration">Facebook</a>
          <a href="#" class="filter transition" data-filter=".web-design">Twitter</a>
          <a href="#" class="filter transition" data-filter=".print">Youtube</a>
        </div> <!-- end filter -->
      </div> <!-- end col -->
    </div> <!-- end row -->

    <div class="tagboad-div" id="masonry1">

      <div id="tagboard-embed1" class="tagboard-embed" tgb-slug="18seconds/231934" tgb-layout="grid" tgb-feed-type="default" tgb-gutter="5" tgb-toolbar="none" tgb-animation-type="default" tgb-hashtag-color="0e91ef" tgb-post-count="9" tgb-mobile-count="3"></div>

    </div> <!-- end row -->       
  </div> <!-- end container -->
</section> <!-- end portfolio-->


<!-- Intro -->
<section class="section-wrap intro" id="how" >
  <div class="container">
    <div class="row">

      <div class="col-sm-12 wow slideInUp" data-wow-duration="1.2s" data-wow-delay="0s">
        <div class="col-sm-12 text-center col-md-12">

        <ul id="tab">
            
            <li>
              <h2 class="how-font">참여 방법 안내</h2><br>
                <section class="how border-radius">
                  <p class="step">Step 1</p><div class="step-contents">스마트폰 등으로 18초 길이의 영상을 만드세요.<br>(참여하시기 전에 <a href="#modal-term" data-toggle="modal" data-target="#modal-term" class="term-btn">이용규약</a>을 꼭 읽어주세요)</div>
       
            </section>
            <section class="how border-radius">
                  <p class="step">Step 2</p>
                        <span style="font-size:37px;">
                        <i class="social_facebook_circle"></i>
                      
                      
                        <i class="social_twitter_circle"></i>
                      
                        </span>
                      <br>
                      
                      참여자의 페이스북, 트위터 계정에 찍은 영상을 올려주세요.

                      <br>
                    <br>
                        <span style="font-size:37px;">
                        <i class="social_youtube_circle"></i>
                        </span>
                      <br>
                    단, 유튜브에 올리신 경우에는 페이스북, 트위터, 인스타그램, 구글+ 등 개인 SNS에 url 공유를 해주셔야 참여가 가능합니다.
              
            </section>
            <section class="how border-radius">
              <p class="step">Step 3</p>
              영상이 첨부된 SNS 게시물에 해시태그 <strong>#18s</strong>를 붙이면 자동으로 접수가 완료됩니다. <br>(참가자가 많으면 실시간으로 확인이 불가능할 수도 있습니다) 
              
            </section>
                 
            </li>

        </div>
      </div> <!-- end col -->

    </div> <!-- end row -->
  </div> <!-- end container -->
</section> <!-- end intro -->




<!-- Intro -->
<section class="section-wrap intro" id="intro" style="background-color:#fafafa">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 wow slideInUp" data-wow-duration="1.2s" data-wow-delay="0s">
        <div class="col-sm-12 text-center col-md-12">
          <h2 class="intro-heading">
            왜 <a href="javascript:;">#18seconds</a>인가?
          </h2>
          <p class="subheading">
            SBS 신개념 SNS 영상 대첩! <br>
            무엇이 최고의 영상인가? <br>
          </p>
        </div>
        <br>

        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2" >
            <p>

              분당 300시간이 넘게 업로드 되는 영상의 홍수 속에서 
              시청자에게 선택 받고, 시청자가 마침내 보게 되어
              살아남은 영상은 과연 무엇인가? <br><br>

    전통적인 매체의 TV스타들이 세계에서 가장 조회수가 높은 18초 영상 만들기에 도전함으로써,  시대가 바라보는 것을 같이 바라보는 
    가장 트렌디한 TV 프로그램, <a href="javascript:;">#18seconds</a>
  </p>

              <div class="col-sm-14">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://18s.sbs.co.kr" data-text="#18s #18seconds" data-related="sbs18seconds" data-hashtags="18s">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div class="fb-like" data-href="https://18s.sbs.co.kr" data-width="350" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
              </div>
              <div class="col-sm-14">
<div class="fb-comments" data-href="http://18s.sbs.co.kr" data-width="350" data-numposts="5"></div>
            </div>


          </div>


      </div> <!-- end col -->

    </div> <!-- end row -->
  </div> <!-- end container -->
</section> <!-- end intro -->



<script>


function resize_tb(){

    if($("#masonry1").height() < $("#tagboard-embed1").height()){
      $("#masonry1").height( $("#tagboard-embed1").height());
    }
}

$(document).ready(function(){
  $(window).load(function(){
    load_tb();
    setInterval(resize_tb(), 1000);

    setTimeout(function(){
    
      $(".tp-arr-allwrapper").trigger("click");
    
    }, 1000); 
  });
});

function load_tb(){
  var script = document.createElement('script');
  script.src = "https://static.tagboard.com/public/js/embedAdvanced.js";
  document.head.appendChild(script);
}

var url = document.location.toString();
if (url.match('#')) {
    $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
} 

// Change hash for page-reload
$('.nav-tabs a').on('shown.bs.tab', function (e) {
    window.location.hash = e.target.hash;
})


</script>


