<style>
.term-btn {background-color:white; color:rgb(40, 170, 220); border-radius:6px; padding-left:5px; padding-right:5px;
}
.term-btn:hover {
background-color:#cacaca; 
color:white;
}

</style>

<section>
<!--
  #################################
    - THEMEPUNCH BANNER -
  #################################
  -->
  <div class="tp-banner-container clearfix">
    <div class="tp-banner" id="tp-banner" >
      <ul>
        <!-- SLIDE 1 -->

        <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-delay="500">
          <!-- MAIN IMAGE -->
          <img src="/upload/eightseconds.jpg"

                  alt="slidebg1" 
                  data-kenburns="on"
                  data-bgposition="left center"
                  data-duration="36000"
                  data-ease="Linear.easeNone"
                  data-bgfit="100"
                  data-bgfitend="150"
                  data-bgpositionend="right center"

            >
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div style="display:none;" class="tp-caption customin customout huge_white rs-parallaxlevel-3"
            data-x="center"
            data-y="center"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.50;scaleY:0.50;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="100"
            data-start="0"
            data-easing="Power4.easeOut"
            data-endeasing="Power4.easeIn"
            data-splitout="none"
            data-elementdelay="0.05"
            data-endelementdelay="0.05">'18초' 영상제작 콘테스트
          </div>

          <!-- LAYER NR. 2 -->
          <div style="display:none" class="tp-caption customin medium_text fadeout rs-parallaxlevel-3"
            data-x="center"
            data-y="center"
            data-voffset="80"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="100"
            data-start="100"
            data-easing="Power4.easeOut">
            공지사항 확인하기
          </div>
    
        </li> <!-- end slide 1 -->


        <li data-transition="fade" data-slotamount="1" data-masterspeed="1200" data-delay="7000">
          <!-- MAIN IMAGE -->
          <img src="/upload/eightseconds.jpg"
            alt="slidebg1"
            data-kenburns="on"
            data-duration="36000"
            data-ease="Linear.easeNone"
            data-bgfit="100"
            data-bgfitend="150"
            >
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <a href="/notice">
            <div class="tp-caption customin customout huge_white rs-parallaxlevel-3"
              data-x="center"
              data-y="center"
              data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.50;scaleY:0.50;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-speed="700"
              data-start="1600"
              data-easing="Power4.easeOut"
              data-endeasing="Power4.easeIn"
              data-splitout="none"
              data-elementdelay="0.05"
              data-endelementdelay="0.05">
              '18초' 영상제작 콘테스트
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption customin medium_text fadeout rs-parallaxlevel-3"
              data-x="center"
              data-y="center"
              data-voffset="80"
              data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-speed="500"
              data-start="2600"
              data-easing="Power4.easeOut">
              공지사항 확인하기
            </div>
          </a>
    



        <!-- SLIDE 2 -->
        <li data-transition="fade" data-slotamount="1" data-masterspeed="1200" data-delay="7000">
          <!-- MAIN IMAGE -->
          <img src="/upload/sns_back2.jpg"
            alt="slidebg1"
            data-kenburns="on"
            data-duration="36000"
            data-ease="Linear.easeNone"
            data-bgfit="100"
            data-bgfitend="150"
            >
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption customin customout huge_white rs-parallaxlevel-3"
            data-x="center"
            data-y="center"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.50;scaleY:0.50;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="700"
            data-start="1600"
            data-easing="Power4.easeOut"
            data-endeasing="Power4.easeIn"
            data-splitout="none"
            data-elementdelay="0.05"
            data-endelementdelay="0.05">
            국내 최초 SNS 연동 방송
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption customin medium_text fadeout rs-parallaxlevel-3"
            data-x="center"
            data-y="center"
            data-voffset="80"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="500"
            data-start="2600"
            data-easing="Power4.easeOut">7월 24일(금) 녹화 당일 SNS로 실시간 방송 참여!
          </div>
    
        </li> <!-- end slide 2 -->

        <li data-transition="fade" data-slotamount="1" data-masterspeed="1200" data-delay="7000">
          <!-- MAIN IMAGE -->
          <img src="/upload/eightseconds.jpg"
            alt="slidebg1"
            data-kenburns="on"
            data-duration="36000"
            data-ease="Linear.easeNone"
            data-bgfit="100"
            data-bgfitend="150"
            />
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption sft customout"
            data-x="center" 
            data-y="center" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="600"
            data-start="1000"
            data-easing="Power4.easeOut"
            data-endspeed="500"
            data-endeasing="Power4.easeOut"
            data-autoplay="true"
            data-autoplayonlyfirsttime="false"
            data-nextslideatend="true"
          >
            <iframe src='https://www.youtube.com/embed/Vr8Ny4ol13o?hd=1&wmode=opaque&controls=1&showinfo=0' width='1200' height='900'
                       style='width:1200px; height:900px;'>
            </iframe>
            
          </div>
    
        </li> <!-- end slide 2 -->






      </ul>


    </div>
  </div>
</section>

<section class="section-wrap" id="realtime">
  <div class="container">
    <h2 class="text-center" style="font-weight:400;">#18초 on SNS</h2>
    <p class="subheading text-center">실시간 참여중인 영상들을 확인하세요!</p>
    <!-- filter -->
    <div class="row mt-50">
      <div class="col-md-12">
        <div class="portfolio-filter">
          <a href="#" class="filter active transition" data-filter="*">Hot</a>
          <a href="#" class="filter transition" data-filter=".branding">New</a>
          <a href="#" class="filter transition" data-filter=".illustration">Facebook</a>
          <a href="#" class="filter transition" data-filter=".web-design">Twitter</a>
          <a href="#" class="filter transition" data-filter=".print">Youtube</a>
        </div> <!-- end filter -->
      </div> <!-- end col -->
    </div> <!-- end row -->

    <div class="tagboad-div" id="masonry1">
      <div id="tagboard-embed1" class="tagboard-embed" tgb-slug="18seconds/231934" tgb-layout="grid" tgb-feed-type="default" tgb-gutter="5" tgb-toolbar="none" tgb-animation-type="default" tgb-hashtag-color="#28aadc" tgb-post-count="9" tgb-mobile-count="3"></div>
    </div> <!-- end row -->       
  </div> <!-- end container -->
</section> <!-- end portfolio-->


<!-- Intro -->
<section class="section-wrap intro" id="how" >
  <div class="container">
    <div class="row">

      <div class="col-sm-12 wow slideInUp" data-wow-duration="1.2s" data-wow-delay="0s">
        <div class="col-sm-12 text-center col-md-12">

        <ul id="tab">
            
            <li>
              <h2 class="how-font">참여 방법 안내</h2><br>
                <section class="how border-radius">
                  <p class="step">Step 1</p><div class="step-contents">스마트폰 등으로 18초 길이의 영상을 만드세요.<%#<br>(참여하기 전에 <a href="#modal-term" data-toggle="modal" data-target="#modal-term" class="term-btn">이용규약</a>을 꼭 읽어주세요)%></div>
       
                </section>
                <section class="how border-radius">
                  <p class="step">Step 2</p>
                  <span style="font-size:37px;"><i class="social_facebook_circle"></i></span>  OR  
                        <span style="font-size:37px;">
                        <i class="social_youtube_circle"></i>
                      </span>
                      <br>
                      페이스북: 본인의 계정에 영상을 전체공개로 올려주세요.<br>또는<br>
                      유튜브: 본인의 계정에 영상을 전체공개로 올려주신 후에 페이스북, 트위터, 구글+ 등 본인의 SNS 계정에 URL 공유를 해주세요.
            </section>
            <section class="how border-radius">
              <p class="step">Step 3</p>
              영상이 첨부된 SNS 게시물에 해시태그 <strong>#18초</strong> 또는 <strong>#18s</strong> 를 붙이면 자동으로 접수가 완료됩니다. <br><small>(참가자가 많으면 실시간으로 확인이 불가능할 수도 있습니다)</small>
              
            </section>
                 
            </li>

        </div>
      </div> <!-- end col -->

    </div> <!-- end row -->
  </div> <!-- end container -->
</section> <!-- end intro -->

<!-- Intro -->
<section class="section-wrap intro" id="intro" style="background-color:#fafafa">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 wow slideInUp" data-wow-duration="1.2s" data-wow-delay="0s">
        <div class="col-sm-12 text-center col-md-12">
          <h2 class="intro-heading">
             
            <a href="javascript:;">18초</a>?
          </h2>
          <p class="subheading">
            SBS 신개념 SNS 영상 대첩! <br>
            무엇이 최고의 영상인가? <br>
          </p>
        </div>
        <br>

        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2" >
          <p>
            분당 300시간이 넘게 업로드 되는 영상의 홍수 속에서
            선택 받으려면 18초 안에 시청자를 사로잡아야 한다!<br><br>

            기존 방송 세계가 아닌, SNS 세계에서 살아남는 영상을 만들기 위한
            TV스타들과 SNS스타들의 도전이 시작된다!<br><br>
            과연 최다 조회 수의 영예를 차지한 영상은 무엇이 될 것인가?<br><br>

            시대가 바라보는 것을 같이 바라보는 가장 트렌디한 TV 프로그램,
            <a href="javascript:;"><strong>18seconds</strong></a>
          </p>
          <br>

          <div class="col-sm-14" style="border-top:1px solid #bababa; padding-top: 25px;">
                  
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://18s.sbs.co.kr" data-text="#18s #18seconds" data-related="sbs18seconds" data-hashtags="18초">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div class="fb-like" data-href="http://18s.sbs.co.kr" data-width="350" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
              </div>
              <div class="col-sm-14">
<div class="fb-comments" data-href="http://18s.sbs.co.kr" data-width="350" data-numposts="5"></div>
            </div>


          </div>


      </div> <!-- end col -->

    </div> <!-- end row -->
  </div> <!-- end container -->
</section> <!-- end intro -->



<script>


function resize_tb(){

    if($("#masonry1").height() < $("#tagboard-embed1").height()){
      $("#masonry1").height( $("#tagboard-embed1").height());
    }
}

$(document).ready(function(){
  $(window).load(function(){
    load_tb();
    window.setInterval(resize_tb, 1000);

    setTimeout(function(){
    
      $(".tp-arr-allwrapper").trigger("click");
    
    }, 1000); 
  });
});

function load_tb(){
  var s = document.createElement('script');
  s.type = "text/javascript"
  s.src = "https://static.tagboard.com/public/js/embedAdvanced.js";

  $('head').append(s);

}

var url = document.location.toString();
if (url.match('#')) {
    $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
} 

// Change hash for page-reload
$('.nav-tabs a').on('shown.bs.tab', function (e) {
    window.location.hash = e.target.hash;
})



</script>


