<style>
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

</style>
<section>

<section class="section-wrap" style="padding-bottom:0;">
  <div class="container">

    <div class="row">
      <div class="col-md-12 ">
        <div class="videoWrapper">
          <iframe  src="https://www.youtube.com/embed/t4zeAZuEoz8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Intro -->
<section class="section-wrap intro" id="intro" >
  <div class="container">
    <div class="row">

      <div class="col-sm-12 wow slideInUp" data-wow-duration="1.2s" data-wow-delay="0s">
        <div class="col-sm-12 text-center col-md-12">
          <h2 class="intro-heading">
            <a href="javascript:;">18초 프로모션 라운드는 참여 마감되었습니다.</a>
          </h2>

          <p class="subheading">
            7월 30일 역사적인 조회수배틀 월드리그가 개최됩니다. 많은 참여 부탁드립니다!
          </p>
              <div class="socials">
                <a  target='_blank' href="https://www.facebook.com/sbs18s"><i class="fa fa-facebook"></i></a>
                <a  target='_blank' href="https://twitter.com/sbs18seconds"><i class="fa fa-twitter"></i></a>
                <a target='_blank' href="https://www.youtube.com/channel/UCh-walbyMy4t3jhKOlhf60A"><i class="fa fa-youtube fa-google-plus"></i></a>
<%#
                <a target='_blank' href="https://instagram.com/sbs18seconds"><i class="fa fa-instagram"></i></a>%>
              </div> <!-- end socials -->


        </div>

      </div> <!-- end col -->

    </div> <!-- end row -->
  </div> <!-- end container -->
</section> <!-- end intro -->
