<section class="section-wrap blog-standard blog-article">
  <div class="container relative">
    <div class="row">
      
      <!-- content -->
      <div class="col-md-10 col-md-offset-1">

        <!-- gallery post -->
        <div class="entry-item mb0">

        <%#
          <div class="entry-slider mb-40">
            <div id="owl-slider-one-img" class="owl-carousel owl-theme">

              <div class="item">
                <a href="#">
                  <img src="upload/blog/gallery_1.jpg" alt="">
                </a>
              </div> <!-- end first item -->

              <div class="item">
                <a href="#">
                  <img src="upload/blog/gallery_2.jpg" alt="">
                </a>
              </div> <!-- end second item -->

              <div class="item">
                <a href="#">
                  <img src="upload/blog/gallery_3.jpg" alt="">
                </a>
              </div> <!-- end third item -->

            </div> <!-- end owl carousel -->
          </div> <!-- end slider -->
          %>

          <div class="entry">             
            <div class="entry-title" style="text-align:center;">
              <h2>
                '18초' 영상제작 콘테스트
              </h2>
            </div>
            <ul class="entry-meta">
              <li>July 9, 2015</li>
              <li>by <a href="">SBS 18seconds team</a></li>
            </ul>
            <div class="entry-content">
              <p>
                SBS의 새 파일럿 프로그램 <18초>에서 세계의 시선을 사로잡을 최고의 18초 영상을 찾습니다! <br>
                짧고 강렬한 영상으로 당신의 센스를 보여주세요. 참여하신 분들 가운데 방송에 채택되신 분께는 상품을 드립니다.<br>

</p>
              <blockquote class="blockquote">
                <span>
                참여기간 : 2015. 07. 13.(월) ~ 2015. 07. 24.(금) 자정까지<br>
                참여방법 : 홈페이지 상단 "참여방법" 참조<br>
                상품: 백화점 상품권, 스마트워치 등<br>
문의 : 18seconds@sbs.co.kr</span>
              </blockquote>
              <br><br>
              <div class="col-sm-14" style="border-top:1px solid #bababa; padding-top:25px;">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://18s.sbs.co.kr" data-text="#18s #18seconds" data-related="sbs18seconds" data-hashtags="18초">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div class="fb-like" data-href="http://18s.sbs.co.kr" data-width="350" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
              </div>
              <div class="col-sm-14">
<div class="fb-comments" data-href="http://18s.sbs.co.kr" data-width="350" data-numposts="5"></div>
            </div>
            
            </div> <!-- end entry content -->
          </div> <!-- end entry -->
        </div> <!-- end entry item -->
        
      </div> <!-- end col -->

    </div> <!-- end row -->
  </div> <!-- end container -->
</section> <!-- end blog single -->
