<!DOCTYPE html>
<html>
  <head>

    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>SBS 18초(18seconds)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="SNS 대전 18초!">
    <link href='http://fonts.googleapis.com/css?family=Lato:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,700,400' rel='stylesheet' type='text/css'>

    <!-- Css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/lightbox.min.css" />
    <link rel="stylesheet" href="/css/elegant-icons.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <link rel="stylesheet" href="/rs-plugin/css/settings.css" />
    <link rel="stylesheet" href="/css/rev-slider.css" />
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/spacings.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/style_head.css" />


    <!-- Favicons -->
    <link rel="shortcut icon" href="/upload/favicon.ico">
    <link rel="apple-touch-icon" href="/upload/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/upload/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/upload/apple-touch-icon-114x114.png">


      <%= javascript_include_tag 'application'%>
      <%= csrf_meta_tags %>

      <script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.tools.min.js"></script>

    <script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.revolution.js"></script>
    <script type="text/javascript" src="/js/rev-slider.js"></script>
    <%#

    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="/js/animations.js"></script> 
  
    <script src="/js/cooltext.min.js"></script>
    <script>
      $(document).ready(function(){

        if (!(navigator.userAgent.match('SM-N'))){
          $("#logo").cooltext({
             sequence:[
                {
                   action:"animation",
                   animation:"cool180",
                   elements:"letters",
                   speed:38,
                   stagger:91
                }
             ],
             cycle:true             // cyclic sequence
          });
      }
  });
    </script>

  %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64987652-1', 'auto');
      ga('send', 'pageview');

    </script>
    <style>
    .fb-comments, .fb-comments span[style], .fb-comments iframe[style] {width: 100% !important;}
    </style>

  <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="/lib/jquery.mousewheel-3.0.6.pack.js"></script>

    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript" src="/source/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="/source/jquery.fancybox.css?v=2.1.5" media="screen" />

    <!-- Add Button helper (this is optional) -->
    <link rel="stylesheet" type="text/css" href="/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
    <script type="text/javascript" src="/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

    <!-- Add Thumbnail helper (this is optional) -->
    <link rel="stylesheet" type="text/css" href="/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
    <script type="text/javascript" src="/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

    <!-- Add Media helper (this is optional) -->
    <script type="text/javascript" src="/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>


    <script type="text/javascript">
      $(document).ready(function() {
        /*
         *  Simple image gallery. Uses default settings
         */

        $('.fancybox').fancybox();

        /*
         *  Different effects
         */

        // Change title type, overlay closing speed
        $(".fancybox-effects-a").fancybox({
          helpers: {
            title : {
              type : 'outside'
            },
            overlay : {
              speedOut : 0
            }
          }
        });

        // Disable opening and closing animations, change title type
        $(".fancybox-effects-b").fancybox({
          openEffect  : 'none',
          closeEffect : 'none',

          helpers : {
            title : {
              type : 'over'
            }
          }
        });

        // Set custom style, close if clicked, change title type and overlay color
        $(".fancybox-effects-c").fancybox({
          wrapCSS    : 'fancybox-custom',
          closeClick : true,

          openEffect : 'none',

          helpers : {
            title : {
              type : 'inside'
            },
            overlay : {
              css : {
                'background' : 'rgba(238,238,238,0.85)'
              }
            }
          }
        });

        // Remove padding, set opening and closing animations, close if clicked and disable overlay
        $(".fancybox-effects-d").fancybox({
          padding: 0,

          openEffect : 'elastic',
          openSpeed  : 150,

          closeEffect : 'elastic',
          closeSpeed  : 150,

          closeClick : true,

          helpers : {
            overlay : null
          }
        });

        /*
         *  Button helper. Disable animations, hide close button, change title type and content
         */

        $('.fancybox-buttons').fancybox({
          openEffect  : 'none',
          closeEffect : 'none',

          prevEffect : 'none',
          nextEffect : 'none',

          closeBtn  : false,

          helpers : {
            title : {
              type : 'inside'
            },
            buttons : {}
          },

          afterLoad : function() {
            this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
          }
        });


        /*
         *  Thumbnail helper. Disable animations, hide close button, arrows and slide to next gallery item if clicked
         */

        $('.fancybox-thumbs').fancybox({
          prevEffect : 'none',
          nextEffect : 'none',

          closeBtn  : false,
          arrows    : false,
          nextClick : true,

          helpers : {
            thumbs : {
              width  : 50,
              height : 50
            }
          }
        });

        /*
         *  Media helper. Group items, disable animations, hide arrows, enable media and button helpers.
        */
        $('.fancybox-media')
          .attr('rel', 'media-gallery')
          .fancybox({
            openEffect : 'none',
            closeEffect : 'none',
            prevEffect : 'none',
            nextEffect : 'none',

            arrows : false,
            helpers : {
              media : {},
              buttons : {}
            }
          });

        /*
         *  Open manually
         */

        $("#fancybox-manual-a").click(function() {
          $.fancybox.open('1_b.jpg');
        });

        $("#fancybox-manual-b").click(function() {
          $.fancybox.open({
            href : 'iframe.html',
            type : 'iframe',
            padding : 5
          });
        });

        $("#fancybox-manual-c").click(function() {
          $.fancybox.open([
            {
              href : '1_b.jpg',
              title : 'My title'
            }, {
              href : '2_b.jpg',
              title : '2nd title'
            }, {
              href : '3_b.jpg'
            }
          ], {
            helpers : {
              thumbs : {
                width: 75,
                height: 50
              }
            }
          });
        });


      });
    </script>
    <style type="text/css">
      .fancybox-custom .fancybox-skin {
        box-shadow: 0 0 50px #222;
      }

    </style>


  </head>
  <body>

<div id="fb-root"></div>
<script>

var winSize = {
  width: window.innerWidth || document.body.clientWidth,
  height: window.innerHeight || document.body.clientHeight
}

if (winSize.width < winSize.height){
  $("#sns-share").append('<div class="fb-like fb-width" data-href="http://18s.sbs.co.kr"  data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-width="350"></div>');

  $("#sns-comment").append('<div class="fb-comments fb-width" data-href="http://18s.sbs.co.kr"  data-numposts="5" data-width="350"></div>');
}else{

  $("#sns-share").append('<div class="fb-like fb-width" data-href="http://18s.sbs.co.kr"  data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-width="600"></div>');

  $("#sns-comment").append('<div class="fb-comments fb-width" data-href="http://18s.sbs.co.kr"  data-numposts="5" data-width="600"></div>');


}

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.4&appId=571970066269489";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>

    <header id="home">
      <div class="main-nav" role="navigation" style="background-color:#28aadc;-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);">

        <nav class="nav-hide">
          <ul class="nav local-scroll">
            <%unless @notice%><li><a href="/notice">공지사항</a></li><%else%><li><a href="/">Home</a></li><%end%>
              <li><a href="<%if @notice%>/<%end%>#realtime">실시간</a></li>
              <li><a href="<%if @notice%>/<%end%>#how">참여방법</a></li>
              <li><a href="<%if @notice%>/<%end%>#intro">18초?</a></li><%#
                  <li><a href="#modal-term" data-toggle="modal" data-target="#modal-term">이용규약</a></li>%>
          </ul>
        </nav>

        <div class="container clearfix">

          <div class="logo-light local-scroll">
            <a href="/" class="logo" style="color:#fff; font-family: 'Ubuntu';" id="logo">
              #18초
            </a>
          </div>

          <div class="logo-light navbar-fix local-scroll" style="float:right;">
            <%unless @notice%><a class="logo" href="/notice">공지사항</a><%else%><a class="logo" href="/">Home</a><%end%>
            <a class="logo" href="<%if @notice%>/<%end%>#realtime">실시간</a>
            <a class="logo" href="<%if @notice%>/<%end%>#how">참여방법</a>
            <a class="logo" href="<%if @notice%>/<%end%>#intro">18초?</a>
            <%#
                <a class="logo" href="#modal-term"data-toggle="modal" data-target="#modal-term">이용규약</a>%>
          </div>

          <div class="navbar-toggle">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>

        </div> <!-- end container -->
      </div> <!-- end main nav -->
    </header>

    <div class="main-wrapper-onepage main oh">


<%= yield %>


    <!-- Footer -->
      <footer id="footer" class="minimal" >
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              
              <div class="footer-logo local-scroll mb-30 wow zoomIn" data-wow-duration="1s" data-wow-delay="0.2s">
                <a href="http://www.sbs.co.kr">
                  <img src="/upload/sbs_small.png" alt="">
                </a>
              </div>

              <div class="socials">
                <a  target='_blank' href="https://www.facebook.com/sbs18seconds"><i class="fa fa-facebook"></i></a>
                <a  target='_blank' href="https://twitter.com/sbs18seconds"><i class="fa fa-twitter"></i></a>
                <a target='_blank' href="https://www.youtube.com/channel/UCVrmxQJjbmcnzu5PydNrruA?view_as=public"><i class="fa fa-youtube fa-google-plus"></i></a>
                <a target='_blank' href="https://plus.google.com/u/0/109193903849975147888/posts"><i class="fa fa-google-plus"></i></a>
                <a target='_blank' href="https://instagram.com/sbs18seconds"><i class="fa fa-instagram"></i></a>
              </div> <!-- end socials -->

              <span class="copyright text-center">
                ©2015 SBS & SBS Contents Hub | <a href="#">#18초</a><%# |  Powered by <a href="http://tagboard.com/">Tagboard</a>%>
              </span>

            </div> <!-- end col -->
          </div> <!-- end row -->   
        </div> <!-- end container -->
      </footer> <!-- end footer -->

      <div id="back-to-top">
        <a href="#top"><i class="arrow_carrot-up"></i></a>
      </div>

    </div> <!-- end main-wrapper -->



<div class="modal fade" id="modal-term">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">이용규약</h4>
      </div>
      <div class="modal-body col-sm-12">
        <div class="col-sm-12">
          <div class="col-sm-12">
            <p>㈜SBS(이하 “SBS”)가 운용하는 이 웹사이트의 이용규약(이하 “이용규약”)은 다음과 같습니다.</p>
                <h4>적용범위 및 조건</h4><p>
                  이용규약은 SBS가 운영하고 관리하는 이 웹사이트에 접근한 모든 이용자에게 적용됩니다. 본 웹사이트를 사용함으로 인해 이용자는 본 웹사이트의 이용규약을 읽고 승낙한 것으로 간주합니다. 본 웹사이트의 이용자는 본 웹사이트의 사용에 따른 모든 위험과 책임을 부담합니다.</p>

                <h4>이용규약의 권리 귀속에 관하여</h4><p>
                  1. SBS가 프로그램과 관련하여 온라인상으로 진행한 일체의 행사(이하 “행사”)에 이용자가 제출한 정보, 사진, 동영상, 음성, 기타 데이터 및 파일(이하 “콘텐츠”)의 소유권은 제공한 이용자에게 귀속됩니다.<br>
      2. 이용자는 콘텐츠를 이 행사에 제출함으로써, SBS에 세계적으로, 비독점적으로, 무상으로, 서브라이센스를 포함하여, 양도가능하며, 콘텐츠를 자유롭게 이용할 수 있는 사용권(이하 “라이센스”)을 부여합니다. 이용자는 콘텐츠와 관련해 SBS에 라이센스를 부여하는 데 필요한 소유권을 가지는 데 있어 불법적인 행위가 있지 않았음을 표명하고 보증합니다.<br>
      3. SBS는 이용자가 제출한 콘텐츠를 미디어의 제한 없이, 전 세계적으로 무상으로 사용하거나 제3자에게 제공할 수 있습니다. 또한 본 웹 사이트의 원활한 운영에 필요한 범위 내에서 콘텐츠의 일부를 수정하거나 이용자의  개인 정보에 대한 표시를 생략할 수 있으며, 이용자는 콘텐츠를 제출한 시점에서 이를 승낙한 것으로 간주합니다.<br>
      4. 이용자는 SBS에게 콘텐츠에 대한 저작인격권 또는 실연자인격권을 행사하지 않습니다.</p>

      <h4>면책</h4><p>
        1. SBS는 이용자가 제출한 콘텐츠 전체를 이 웹사이트에 게제 혹은 표시할 의무가 없습니다.<br>
        2. SBS가 합리적인 이유에 따라 필요하다고 판단하는 경우, 사전에 이용자에게 고지하지 않고 게시된 내용의 일부 또는 전부를 편집 및 삭제할 수 있으며, 이용자는 이에 대해 미리 승낙한 것으로 간주합니다.<br>
        3. 이용자는 SBS가 콘텐츠를 편집, 삭제 하는 등의 행위에 대해 SBS에 이의를 제기하지 않으며, 이에 따라 이용자가 받는 불이익에 대해 SBS는 책임이 없음을 승낙한 것으로 간주합니다.<br>
        4. 본 사이트에 게시된 내용과 관련하여 또는 본 사이트의 종료로 인해 이용자에게 발생하는 직접적 또는 간접적 손해에 대해, SBS는 일체의 책임을 지지 않습니다.
      </p>
      <h4>기타</h4><p>
      본 약관의 내용 및 본 웹사이트의 내용은 사전에 이용자에게 통지 없이 언제든지 변경될 수 있습니다. 또한 이용자는 변경된 내용이 본 사이트에 반영되는 시점부터 그 변경 사항을 암묵적으로 동의한 것으로 간주합니다.<br>

      (끝)</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    
    <!-- jQuery Scripts -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/lightbox.min.js"></script>
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="/js/jquery.appear.js"></script>
    <script type="text/javascript" src="/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="/js/jquery.localScroll.min.js"></script>
    <script type="text/javascript" src="/js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="/js/jquery.simple-text-rotator.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/wow.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script>

(function($){
    "use strict";
	$(document).ready(function(){

    $(window).load(function(){

      var winSize = {
        width: window.innerWidth || document.body.clientWidth,
        height: window.innerHeight || document.body.clientHeight
      }

      var sliderHeight = 500;

      if (winSize.width < winSize.height){
        sliderHeight = 900;
      }

	    $("#tp-banner").revolution({

			delay:12000,
			startwidth:1200,
			startheight: sliderHeight,
			hideThumbs:10,

			parallax:"scroll",
			parallaxBgFreeze:"on",
			parallaxLevels:[10,20,30,40,50,60,70,80,90,100],

			fullWidth:"on",
      forceFullWidth:"on",

			navigationType:"off",							
			navigationStyle:"preview1",

			hideArrowsOnMobile:"on",
			
			touchenabled:"on",
			onHoverStop:"off",
			spinner:"spinner4",
      videoJsPath:"/rs-plugin/videojs/"
		});
	});
});
	
})(jQuery);

    </script>

</body>
</html>
