<!DOCTYPE html>
<html>
  <head>

    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>SBS 18초(18seconds)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="SNS 대전 18초!">
    <link href='http://fonts.googleapis.com/css?family=Lato:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,700,400' rel='stylesheet' type='text/css'>

    <!-- Css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/lightbox.min.css" />
    <link rel="stylesheet" href="/css/elegant-icons.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <link rel="stylesheet" href="/rs-plugin/css/settings.css" />
    <link rel="stylesheet" href="/css/rev-slider.css" />
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/spacings.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/style_head.css" />


    <!-- Favicons -->
    <link rel="shortcut icon" href="/upload/favicon.ico">
    <link rel="apple-touch-icon" href="/upload/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/upload/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/upload/apple-touch-icon-114x114.png">


      <%= javascript_include_tag 'application'%>
      <%= csrf_meta_tags %>

      <script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.tools.min.js"></script>

    <script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.revolution.js"></script>
    <script type="text/javascript" src="/js/rev-slider.js"></script>
    <%#

    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="/js/animations.js"></script> 
  
    <script src="/js/cooltext.min.js"></script>
    <script>
      $(document).ready(function(){

        if (!(navigator.userAgent.match('SM-N'))){
          $("#logo").cooltext({
             sequence:[
                {
                   action:"animation",
                   animation:"cool180",
                   elements:"letters",
                   speed:38,
                   stagger:91
                }
             ],
             cycle:true             // cyclic sequence
          });
      }
  });
    </script>

  %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64987652-1', 'auto');
      ga('send', 'pageview');

    </script>
    <style>
    .fb-comments, .fb-comments span[style], .fb-comments iframe[style] {width: 100% !important;}
    </style>

  <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="/lib/jquery.mousewheel-3.0.6.pack.js"></script>

    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript" src="/source/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="/source/jquery.fancybox.css?v=2.1.5" media="screen" />

    <!-- Add Button helper (this is optional) -->
    <link rel="stylesheet" type="text/css" href="/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
    <script type="text/javascript" src="/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

    <!-- Add Thumbnail helper (this is optional) -->
    <link rel="stylesheet" type="text/css" href="/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
    <script type="text/javascript" src="/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

    <!-- Add Media helper (this is optional) -->
    <script type="text/javascript" src="/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>


    <script type="text/javascript">
      $(document).ready(function() {
        /*
         *  Simple image gallery. Uses default settings
         */

        $('.fancybox').fancybox();

        /*
         *  Different effects
         */

        // Change title type, overlay closing speed
        $(".fancybox-effects-a").fancybox({
          helpers: {
            title : {
              type : 'outside'
            },
            overlay : {
              speedOut : 0
            }
          }
        });

        // Disable opening and closing animations, change title type
        $(".fancybox-effects-b").fancybox({
          openEffect  : 'none',
          closeEffect : 'none',

          helpers : {
            title : {
              type : 'over'
            }
          }
        });

        // Set custom style, close if clicked, change title type and overlay color
        $(".fancybox-effects-c").fancybox({
          wrapCSS    : 'fancybox-custom',
          closeClick : true,

          openEffect : 'none',

          helpers : {
            title : {
              type : 'inside'
            },
            overlay : {
              css : {
                'background' : 'rgba(238,238,238,0.85)'
              }
            }
          }
        });

        // Remove padding, set opening and closing animations, close if clicked and disable overlay
        $(".fancybox-effects-d").fancybox({
          padding: 0,

          openEffect : 'elastic',
          openSpeed  : 150,

          closeEffect : 'elastic',
          closeSpeed  : 150,

          closeClick : true,

          helpers : {
            overlay : null
          }
        });

        /*
         *  Button helper. Disable animations, hide close button, change title type and content
         */

        $('.fancybox-buttons').fancybox({
          openEffect  : 'none',
          closeEffect : 'none',

          prevEffect : 'none',
          nextEffect : 'none',

          closeBtn  : false,

          helpers : {
            title : {
              type : 'inside'
            },
            buttons : {}
          },

          afterLoad : function() {
            this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
          }
        });


        /*
         *  Thumbnail helper. Disable animations, hide close button, arrows and slide to next gallery item if clicked
         */

        $('.fancybox-thumbs').fancybox({
          prevEffect : 'none',
          nextEffect : 'none',

          closeBtn  : false,
          arrows    : false,
          nextClick : true,

          helpers : {
            thumbs : {
              width  : 50,
              height : 50
            }
          }
        });

        /*
         *  Media helper. Group items, disable animations, hide arrows, enable media and button helpers.
        */
        $('.fancybox-media')
          .attr('rel', 'media-gallery')
          .fancybox({
            openEffect : 'none',
            closeEffect : 'none',
            prevEffect : 'none',
            nextEffect : 'none',

            arrows : false,
            helpers : {
              media : {},
              buttons : {}
            }
          });

        /*
         *  Open manually
         */

        $("#fancybox-manual-a").click(function() {
          $.fancybox.open('1_b.jpg');
        });

        $("#fancybox-manual-b").click(function() {
          $.fancybox.open({
            href : 'iframe.html',
            type : 'iframe',
            padding : 5
          });
        });

        $("#fancybox-manual-c").click(function() {
          $.fancybox.open([
            {
              href : '1_b.jpg',
              title : 'My title'
            }, {
              href : '2_b.jpg',
              title : '2nd title'
            }, {
              href : '3_b.jpg'
            }
          ], {
            helpers : {
              thumbs : {
                width: 75,
                height: 50
              }
            }
          });
        });


      });
    </script>
    <style type="text/css">
      .fancybox-custom .fancybox-skin {
        box-shadow: 0 0 50px #222;
      }

    </style>


  </head>
  <body>

<div id="fb-root"></div>
<%#
<script>
var winSize = {
  width: window.innerWidth || document.body.clientWidth,
  height: window.innerHeight || document.body.clientHeight
}

if (winSize.width < winSize.height){
  $("#sns-share").append('<div class="fb-like fb-width" data-href="http://18s.sbs.co.kr"  data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-width="350"></div>');

  $("#sns-comment").append('<div class="fb-comments fb-width" data-href="http://18s.sbs.co.kr"  data-numposts="5" data-width="350"></div>');
}else{

  $("#sns-share").append('<div class="fb-like fb-width" data-href="http://18s.sbs.co.kr"  data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-width="600"></div>');

  $("#sns-comment").append('<div class="fb-comments fb-width" data-href="http://18s.sbs.co.kr"  data-numposts="5" data-width="600"></div>');


}

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.4&appId=571970066269489";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>
%>

    <header id="home">
      <div class="main-nav" role="navigation" style="background-color:#EB3472;-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);">

        <nav class="nav-hide">
          <ul class="nav local-scroll">
            <%unless @notice%><li><a href="/notice">공지사항</a></li><%else%><li><a href="/">Home</a></li><%end%>
              <li><a href="<%if @notice%>/<%end%>#realtime">실시간</a></li>
              <li><a href="<%if @notice%>/<%end%>#how">참여방법</a></li>
              <li><a href="<%if @notice%>/<%end%>#intro">18초?</a></li>
              <li><a href="#modal-term" data-toggle="modal" data-target="#modal-term">이용규약</a></li>
          </ul>
        </nav>

        <div class="container clearfix">

          <div class="logo-light local-scroll">
            <a href="/" class="logo"  id="logo">
              <img src="/upload/small_logo2.svg" style="width:35px;"/>
            </a>

          </div>
          

          <div class="local-scroll" style="float:right;">

            <a class="logo" style="color:#fff;" target='_blank' href="https://www.facebook.com/sbs18s"><i style=" margin-left:20px;" class="fa fa-facebook"></i></a>
                <a  class="logo" style="color:#fff;" target='_blank' href="https://twitter.com/sbs18seconds"><i style="margin-left:20px;" class="fa fa-twitter"></i></a>
                <a class="logo" style="color:#fff;" target='_blank' href="https://www.youtube.com/channel/UCh-walbyMy4t3jhKOlhf60A"><i style="margin-left:20px;" class="fa fa-youtube fa-google-plus"></i></a>
                <a class="logo" style="color:#fff;" target='_blank' href="http://www.everyshot.co/sbs.sm"><img style="width:18px; margin-left:20px;" src="/upload/everyshot.svg" ></a>

          <!--
            <%unless @notice%><a class="logo" href="/notice">공지사항</a><%else%><a class="logo" href="/">Home</a><%end%>
            <a class="logo" href="<%if @notice%>/<%end%>#realtime">실시간</a>
            <a class="logo" href="<%if @notice%>/<%end%>#how">참여방법</a>
            <a class="logo" href="<%if @notice%>/<%end%>#intro">18초?</a>
            <a class="logo" href="#modal-term"data-toggle="modal" data-target="#modal-term">이용규약</a>
            -->
          </div>

<%#
          <div class="navbar-toggle">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
          %>

        </div> <!-- end container -->
      </div> <!-- end main nav -->
    </header>

    <div class="main-wrapper-onepage main oh">


<%= yield %>


    <!-- Footer -->
      <footer id="footer" class="minimal" style="background-color:#fafafa;">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              
              <div class="footer-logo local-scroll mb-30 wow zoomIn" data-wow-duration="1s" data-wow-delay="0.2s">
                <a href="http://www.sbs.co.kr">
                  <img src="/upload/sbs_small.png" alt="">
                </a>
              </div>
              <%#

              <div class="socials">
                <a  target='_blank' href="https://www.facebook.com/sbs18s"><i class="fa fa-facebook"></i></a>
                <a  target='_blank' href="https://twitter.com/sbs18seconds"><i class="fa fa-twitter"></i></a>
                <a target='_blank' href="https://www.youtube.com/channel/UCh-walbyMy4t3jhKOlhf60A"><i class="fa fa-youtube fa-google-plus"></i></a>
                <a target='_blank' href="https://instagram.com/sbs18seconds"><i class="fa fa-instagram"></i></a>
              </div> <!-- end socials -->
            %>

              <span class="copyright text-center">
                ©2015 SBS & SBS Contents Hub | <a href="#">#18초</a><%# |  Powered by <a href="http://tagboard.com/">Tagboard</a>%>
              </span>

            </div> <!-- end col -->
          </div> <!-- end row -->   
        </div> <!-- end container -->
      </footer> <!-- end footer -->

      <div id="back-to-top">
        <a href="#top"><i class="arrow_carrot-up"></i></a>
      </div>

    </div> <!-- end main-wrapper -->



<div class="modal fade" id="modal-term">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">이용규약</h4>
      </div>
      <div class="modal-body col-sm-12">
        <div class="col-sm-12">
          <div class="col-sm-12">
            <h4>목적</h4>
            <p>이 동의서는 SBS에서 방송하는 <18초(18seconds)> 프로그램(이하 “프로그램”)에서 개최하는 18초 영상제작 콘테스트(이하 “콘테스트”)에 참가하는 데 있어서 참가자가 준수해야 할 의무사항을 정함을 목적으로 합니다. </p>

            <h4>적용범위 및 조건</h4>
            <p>이 동의서는 콘테스트에 참가하는 모든 참가자(이하 “참가자”)에게 적용됩니다.
            </p>
            <h4>규약의 권리 귀속에 관하여</h4>
            <p>참가자는 참가자가 제출한 정보, 사진, 동영상, 음성, 기타 데이터 및 파일(이하 “콘텐츠”)의 저작권 및 소유권, 참가자의 초상권, 음성권 등을 적법하게 보유하고 있음을 확인합니다.<br><br>
참가자는 프로그램 관련 용도를 위해 제출한 해당 콘텐츠에 대한 제한 없는 사용권이 제작진에게 있음을 인정하고, 이로써 본인은 SBS가 해당 콘텐츠를 활용함에 있어 어떠한 권리도 주장하지 않겠습니다.
참가자는 제작진이 콘텐츠를 프로그램 관련 용도에 사용하는 일체의 행위에 대하여 지적재산권, 초상권, 퍼블리시티권, 인격권 등의 권리를 따로 행사하지 않겠습니다.<br><br>
참가자는 콘텐츠가 프로그램 관련 용도에 사용됨으로써 본인이 입게 될 일체의 불이익, 예를 들어 명예의 훼손, 사생활 노출, 지인 기타 제3자와의 불화 및 일체의 분쟁, 민사적 형사적 행정적 제재 기타 일체의 신체적, 정신적, 재산적 손실에 관하여 제작진에게 일체의 책임을 묻지 아니하겠습니다.<br><br>
참가자는 해당 콘텐츠를 제작진이 프로그램 관련 용도로 자유롭게 사용, 수정, 저장, 변형, 편집, 전시, 전송, 방송하는 것에 동의합니다.<br><br>
<h4>정보제공 의무</h4>
<p>제작진이 출연자 선정, 프로그램 제작 준비, 프로그램 제작, 프로그램 홍보, 프로그램 방송 등 “프로그램 관련 용도”에 필요하다고 판단되거나 참가자의 정보를 파악하기 위해 인터뷰, 자료제공, 검사 등을 요구할 경우 참가자는 제작진의 요구에 성실히 응하고 정보를 제공할 것입니다.<br><br>
  참가자는 제작진이 참가자가 제출한 본인에 대한 정보를 프로그램 관련 용도를 위하여 사용하는 것에 동의합니다. 참가자는 개인신상에 관하여 제작진의 요청에 따라 제공된 정보가 사실과 일치하며, 프로그램의 제작, 방송에 차질을 야기하거나 SBS 또는 프로그램의 제작, 방송에 차질을 야기하거나 SBS 또는 프로그램의 이미지를 훼손하는 사실이 없음을 보증합니다.<br><br>
  <h4>심사 및 선정</h4>
  <p>행사 진행 과정에서 심사 및 선발은 SBS와 제작진이 정한 기준에 따라 합리적인 범위에서 재량으로 이루어지며, 참가자는 그 결과를 승인하고 이에 대해 이의를 제기할 수 없습니다. </p>
  <h4>책임 및 배상</h4>
  <p>참가자는 프로그램 제작 및 방송 과정에서 본인의 부주의나 규약을 위반하여 발생한 사고에 대해 본인이 책임을 집니다. 참가자가 본 규약의 내용을 위반한 경우, 참가자는 그로 인해 SBS와 제작진이 입은 손해를 배상하여야 합니다.</p>
  <h4>동의</h4>
  <p>참가자는 하단의 동의 버튼을 클릭함으로써, 위 사항을 충분히 숙지한 후 자유로운 의사로 본 규약에 동의함을 확인합니다.<br>
    (끝)</p>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">동의</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    
    <!-- jQuery Scripts -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/lightbox.min.js"></script>
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="/js/jquery.appear.js"></script>
    <script type="text/javascript" src="/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="/js/jquery.localScroll.min.js"></script>
    <script type="text/javascript" src="/js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="/js/jquery.simple-text-rotator.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/wow.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script>

(function($){
    "use strict";
	$(document).ready(function(){

    $(window).load(function(){

      var winSize = {
        width: window.innerWidth || document.body.clientWidth,
        height: window.innerHeight || document.body.clientHeight
      }

      var sliderHeight = 500;

      if (winSize.width < winSize.height){
        sliderHeight = 900;
      }

	    $("#tp-banner").revolution({

			delay:12000,
			startwidth:1200,
			startheight: sliderHeight,
			hideThumbs:10,

			parallax:"scroll",
			parallaxBgFreeze:"on",
			parallaxLevels:[10,20,30,40,50,60,70,80,90,100],

			fullWidth:"on",
      forceFullWidth:"on",

			navigationType:"off",							
			navigationStyle:"preview1",

			hideArrowsOnMobile:"on",
			
			touchenabled:"on",
			onHoverStop:"off",
			spinner:"spinner4",
      videoJsPath:"/rs-plugin/videojs/"
		});
	});
});
	
})(jQuery);

    </script>

</body>
</html>
